.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*titulo explore the treasures, con imagenes pequeñas*/

.title {
  color: #ecb75b;
  font-family: LaObrige;
}

.venus {
  width: 65px;
  height: 100%;
  border-radius: 15px;
  margin-left: 10px;
}

.starry {
  width: 60px;
  height: 100%;
  border-radius: 15px;
  margin-right: 10px;
}

.explore-block {
  display: flex;
  align-items: center;
}
.treasures-block {
  display: flex;
  align-items: center;
}

/*titulo THE MUSEUM COLLECTION/1855 */

.the-museum-block {
  display: flex;
  justify-content: center;
  font-family: LaObrige;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 15px;
  height: 100%;
  max-width: 100%;
  padding: 10px;
}

.year-block {
  display: flex;
  align-items: center;
  font-family: emoji;
  font-size: 40px;
  text-align: left;
  padding: 10px;
  position: absolute;
  left: -5px;
  top: -67px;
}

.second-year-block {
  display: flex;
  align-items: center;
  font-family: emoji;
  font-size: 40px;
  text-align: left;
  padding: 10px;
  position: absolute;
  right: 362px;
  bottom: -65px;
}

/*5 imagenes detras de 1855*/
.imagenes-grupo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.first-block {
  display: flex;
  position: relative;
}

.second-block {
  display: flex;
  position: relative;
}

.mujer {
  padding: 10px;
  width: 500px;
  height: 300px;
  border-top-left-radius: 100px;
}

.hercules {
  padding: 10px;
  width: 700px;
  height: 300px;
  border-radius: 15px;
  margin-right: 10px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.girasoles {
  padding: 10px;
  width: 400px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.monalisa {
  padding: 10px;
  width: 400px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.beso {
  padding: 10px;
  width: 400px;
  height: 300px;
  border-radius: 50%;
  object-fit: fill;
}

.title3 {
  display: flex;
  color: #ecb75b;
  font-family: LaObrige;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 15px;
  height: 100%;
  max-width: 100%;
  padding: 10px;
}

.tickets-block {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.star {
  position: absolute;
  width: 40px;
  top: 10.5rem;
  left: 28.5rem;
}

.buy-tickets-group {
  display: flex;
  height: 100%;
  max-width: 100%;
  border: 2px solid #ecb75b;
  margin: 4rem;
}

.tickets-first-block {
  display: flex;
  width: 50%;
  color: #ecb75b;
  font-family: emoji;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.tickets-second-block {
  display: flex;
  width: 50%;
}

.first-number-date {
  font-size: 80px;
}
.second-number-date {
  font-size: 80px;
}

.tickets-date-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.month-seccion {
  font-size: 30px;
  max-width: 40px;
}

.date-seccion {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.date-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 60px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.tickets-images {
  width: 65px;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  object-fit: cover;
}

.retrato2 {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

.buy-tickets-button {
  background-color: #ecb75b;
  display: flex;
  height: 30px;
  width: 150px;
  text-align: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
}

.images-seccion {
  display: flex;
}

.information-title {
  display: flex;
  color: #ecb75b;
  font-family: LaObrige;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 15px;
  height: 100%;
  width: 100%;
  padding: 0px;
  justify-content: center;
  border-bottom: 2px solid #fff;
  margin-top: 4rem;
  font-family: LaObrige;
}

.information-title h3 {
  margin: 0px;
}

.information-block {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  top: -2.3rem;
  background: #0e0e0e;
  border-top: 2px #ecb75b solid;
}

.info-seccion {
  display: flex;

  flex-direction: column;
  color: #fff;
  font-family: emoji;
  padding: 80px;
  align-items: justify;
  width: auto;
}

.title-info-seccion {
  color: #ecb75b;
  display: flex;
  flex-direction: column;
}

.link-museum-seccion {
  display: flex;
  flex-direction: column;
}

.link-museum-seccion .navBar-link {
  padding: 5px;
  font-family: emoji;
  font-size: 20px;
}

/*div  padre (de app), esta en app.js   */
.app {
  background-color: #0e0e0e;
  /*ponemos el 100 deancho al padre (definimos el ancho 
    y alto de clase app)*/
  width: 100%;
  /*altura en vh (viewport tamaño completo de pantalla) para que tome el ancho de  todo el navegador*/
  height: 100%;
}

/*nav bar y links*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.navBar-link {
  padding: 25px;
  text-decoration: none;

  font-family: LaObrige;
}

.pokeButton {
  height: 31px;
  text-align: center;
  background-color: #ffb523;
  color: #fff;
  box-shadow: #f4d495 0px 0px 0px 2px , rgb(255 255 255) 10px 10px 0px -3px,
    #f4d495 10px 10px;
  padding: 4px 10px;
  border: 2px solid #f4d495;
  font-size: 14px;
  font-family: cursive;
  font-weight: bold;
  letter-spacing: 0.25px;

}

.pokeButton:active {
  border-style: none;
}

.pokeButton:hover {
  color:black;
  cursor:pointer ;
}

.card-blue{
  background-color: aquamarine;
  border-radius: 30px;
  border: 2px solid #006b85;
  box-shadow: 5px 7px #006b85;
}

.card-red{
  background-color: darksalmon;
  border-radius: 30px;
  border: 2px solid #721702;
  box-shadow: 5px 7px #721702;
}

.card-green{
  background-color: #0ade65;
   border-radius: 30px;
  border: 2px solid #03622c;
  box-shadow: 5px 7px #03622c;
}

.card-gray{
  background-color: gray;
  border-radius: 30px;
  border: 2px solid #2c2c2c;
  box-shadow: 5px 7px #2c2c2c;
}

.card-purple{
  background-color: #e90f92;
  border-radius: 30px;
  border: 2px solid #560435;
  box-shadow: 5px 7px #560435;

}

.pokeCard{
  width: 250px;
  height: 350px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokeId{
  margin-top: 10px;

}

.MainCard{
  display:flex;
  flex-direction: column;
  background-color:  #faf5cf;
  padding: 1rem;
  border-radius: 20px;
  border:solid 1px #000;
  margin: 1rem;
  justify-content: center;
  text-decoration: underline;
  align-items:center;
 
}

.active-link {
  color: #ecb75b;
}

.default-link {
  color: #fff;
}

.pokered {
  background-color: #e86f1c;
  padding: 4px 10px;
  border-radius: 30px;
  border: 2px solid #721702;
  box-shadow: 1px 2px #721702;
  margin-bottom: 10px;
  color: #721702;
  font-weight: 800;
  min-width: 82px;
}

.pokeblue {
  background-color: #11c4ef;
  padding: 4px 10px;
  border-radius: 30px;
  border: 2px solid #006b85;
  box-shadow: 1px 2px #006b85;
  margin-bottom: 10px;
  color: #006b85;
  font-weight: 800;
  min-width: 82px;
}

.pokegreen {
  background-color: #0ade65;
  padding: 4px 10px;
  border-radius: 30px;
  border: 2px solid #03622c;
  box-shadow: 1px 2px #03622c;
  margin-bottom: 10px;
  color: #03622c;
  font-weight: 800;
  min-width: 82px;
}

.pokepurple {
  background-color: #e90f92;
  padding: 4px 10px;
  border-radius: 30px;
  border: 2px solid #560435;
  box-shadow: 1px 2px #560435;
  margin-bottom: 10px;
  color: #560435;
  font-weight: 800;
  min-width: 82px;
}

.pokegray {
  background-color: #dfe6f4;
  padding: 4px 10px;
  border-radius: 30px;
  border: 2px solid #2c2c2c;
  box-shadow: 1px 2px #2c2c2c;
  margin-bottom: 10px;
  color: #2c2c2c;
  font-weight: 800;
  min-width: 82px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
